export ZSH=$HOME/.oh-my-zsh


setopt histignorealldups sharehistory

# Use emacs keybindings even if our EDITOR is set to vi

ZSH_THEME="{{ zsh_ohmy_theme }}"
DISABLE_AUTO_UPDATE="{{ zsh_ohmy_disable_auto_update }}"
HIST_STAMPS="yyyy-mm-dd"
HISTSIZE=100000
SAVEHIST=100000
HISTFILE=~/.merged_history
setopt EXTENDED_HISTORY

plugins=(
{% for plugin in zsh_ohmy_plugins %}
  {{ plugin }}
{% endfor %}
)

source $ZSH/oh-my-zsh.sh

if [ -f ~/.bash_aliases ]; then
    . ~/.bash_aliases
fi
